<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <a href="/views/home/menu.html">Вернуться на главную страницу сервиса</a>
        </ul>
    </nav>
</header>
<p>Зарегистрируйте нового пользователя</p>
<form method="POST" action="/authorize/add">
    <p><input type="text" placeholder="Логин" name="login" /></p>
    <p><input type="password" placeholder="Пароль" name="password"/></p>
    <p><input type="submit" value="Регистрация"/></p>
</form>
</body>
</html>